.story-div {
  position: relative;
  min-height: calc(100vh - 65px);
  border-top: 1px solid rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  ul {
    max-width: 200px;
    margin: 0 auto;
  }
}

.story-form {
  width: 740px;
  margin: 0 auto;
  .s-title {
    font-weight: 600;
    font-size: 37px;
    line-height: 1.04;
    width: 100%;
    margin: 10px 0px 15px 0px;
  }
}

.s-upload {
  cursor: pointer;
  border: 1px solid #03a87c;
  color: #03a87c;
  padding: 8px 15px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  input {
    display: none;
  }
}

.story-user {
  width: 740px;
  margin: 0 auto;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.story-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  align-self: flex-start;
}

.story-avatar-img {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.author-name {
  display: flex;
  padding-left: 15px;
  h5 {
    align-self: flex-start;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
  }
}

.publish {
  position: absolute;
  bottom: 32%;
  left: -49%;
  font-size: 15px;
  color: #03a87c;
}

.wait {
  cursor: wait;
  color: gray;
}
