.landing-container {
  display: block;
  border-top: 1px solid rgba(0,0,0,.05);
}

.landing-div {
  padding: 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex!important;
}

.landing-header-div {
  font-size: 52px;
  font-weight: 800;
  line-height: 52px;
  margin-bottom: 25px;
}

.landing-words-div {
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

.landing-buttons-div {
  height: 37px;
  font-family: 'Roboto', sans-serif;
}

.landing-signup-button {
  min-height: 35px!important;
  line-height: 35px;
  color: rgba(255, 255, 255, .99);
  background: #292929;
  border-radius: 4px;
  margin-right: 8px;
  padding: 10px 17px;
  font-size: 14px;
  font-weight: 200;
}

.landing-learn-more {
  min-height: 35px!important;
  line-height: 35px;
  border-radius: 4px;
  margin-right: 8px;
  padding: 10px 17px;
  font-size: 14px;
  font-weight: 200;
  border: 1px solid #292929;
}

.landing-right-div {
  width: 50%;
  height: auto;
  background-image: url(https://cdn-images-1.medium.com/max/1000/1*NV54YLXyvmeUtCXSPHJq5g.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing-left-div {
  width: 50%;
}

.story-index-list {
  padding: 15px;
  padding-right: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  min-height: 800px;
  display: flex;
  flex-flow: wrap;
  min-width: 890px;

// This column solution is thanks to  Roko C. Buljan at Stack Overflow
// @ this article https://stackoverflow.com/questions/12332528/how-to-display-list-items-as-columns

 // -webkit-column-width: 250px;
 //  -moz-column-width: 250px;
 //  -o-column-width: 250px;
 //  -ms-column-width: 250px;
 //  column-width: 250px;
 //  column-count: 2;
 //
 // -webkit-column-rule-style: hidden;
 //  -moz-column-rule-style: hidden;
 //  -o-column-rule-style: hidden;
 //  -ms-column-rule-style: hidden;
 //  column-rule-style: hidden;
}

.story-index-div {
  width: 47%;
  display: flex;
  height: 260px;
  margin-bottom: 20px;
  flex-flow: wrap;
  border: 1px solid rgba(0,0,0,.1)!important;
  border-radius: 2px;
  margin-right: 20px;
}

.story-left-div {
  width: 200px;
  border-right: 1px solid rgba(0,0,0,.1)!important;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
  }
}

.story-right-div {
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-right-inner {
  display: block;
  flex: 1 1 auto;
  a:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -.7px;
    display: -webkit-box;
    margin-bottom: 10px;
    max-height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  a:last-child {
    line-height: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.54);
  }
}

.story-index-list li:first-child {
  margin: 0;
}

// .story-index-item {
//   background: gray;
//   margin-top: 20px;
// }


.article-div {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  font-weight: 600;
  font-size: 42px;
  color: rgba(0,0,0,.84);
  h1 {
    font-family: 'Lato', sans-serif;
  }
}

.section-figure {
  margin-top: 20px;
  margin-bottom: 80px;
}

.section-inner {
  color: rgba(0,0,0,.74);
  p {
    margin-top: 38px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.58;
  }
}

.index-user {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
}

.index-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  align-self: flex-start;
}

.index-avatar-img {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.i-author-name {
  display: flex;
  padding-left: 15px;
  h5 {
    align-self: flex-start;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
  }
}

.edit {
  position: absolute;
  bottom: 35%;
  left: 1%;
  color: rgba(0,0,0,.54);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
// background-image:url(https://cdn-images-1.medium.com/max/1000/1*NV54YLXyvmeUtCXSPHJq5g.png); background-position: bottom center;
