.main-header {
  display: flex;
  height: 65px;
  background: white;
  padding-right: 25px;
  flex-direction: row;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  .nav-div {
    min-width: 46px;
    align-self: center;
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 42%;
    font-weight: 900;
    a {
      font-size: 34px;
      font-weight: 900;
    }
  }
}

.greeting-div {
  align-self: center;
  position: absolute;
  right: 10px;
  max-width: 72.09px;
  max-height: 63px;
  // left: calc(100vw - 310px);
  // background: #f0f0f0;
  // position: fixed;
  // top: 65px;
  // left: 0;
  // min-height: 100%;
  // min-width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-div {
  background: white;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  // display: flex;
  // flex-direction: column;
}

.greeting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #03a87c;
  font-size: 16px;
  min-width: 273px;
  line-height: 1.4;
  position: absolute;
  right: -18px;
  top: -21px;
}

.signin-button {
  margin-right: 16px;
}

.signup-button {
  border: 1px solid #03a87c;
  border-radius: 5px;
  padding: 10px;
  height: 20px;
  margin-right: 16px;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

.demo-button {

}

.user-avatar-img {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 72.08px;
  max-height: 63px;
}

.user-dropdown-button {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
}

.user-dropdown {
  position: relative;
  align-items: flex-end;
  top: 90px;
  right: -16px;
  background: white;
  width: 230px;
  padding: 8px 0;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
  .dd-link {
    display: block;
    height: 22px;
    padding: 7px 25px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    line-height: 1.4;
    white-space: nowrap;
    border-color: rgba(0,0,0,.68);
    color: rgba(0,0,0,.68);
    transition: .1s background-color,.1s border-color,.1s color,.1s fill;
    font-family: 'Roboto', sans-serif;
  }
  .dd-link:hover {
    color: black;
  }
}


// .arrow-up {
//   width: 0;
//   height: 0;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//
//   border-bottom: 5px solid black;
//   color: white;
// }

.about {
  font-size: 16px;
  padding-left: 10px;
  color: gray;
  visibility: hidden;
}
