.main-header {
  display: flex;
  height: 65px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  background: white;
  padding-right: 25px;
  justify-content: space-between;
  .nav-div {
    display: flex;
    min-width: 300px;
    justify-content: flex-end;
    a {
      font-size: 34px;
      font-weight: 900;
      align-self: center;
    }
  }
}

.greeting-div {
  align-self: center;
  // background: #f0f0f0;
  // position: fixed;
  // top: 65px;
  // left: 0;
  // min-height: 100%;
  // min-width: 100%;
}

.main-div {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;

}

.greeting-buttons {
  display: flex;
  color: #03a87c;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  min-width: 273px;
  line-height: 1.4;
}

.signin-button {
  margin-right: 16px;
}

.signup-button {
  border: 1px solid #03a87c;
  border-radius: 5px;
  padding: 10px;
  height: 20px;
  margin-right: 16px;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

.demo-button {

}

.default-avatar {
  background: image-url('default-avatar-img.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 25%;
}

.user-dropdown {
  position: absolute;
  top: 48.5px;
  right: 6px;
  background: white;
  width: 230px;
  height: 511px;
  padding: 8px 0;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  button {
    padding: 7px 25px;
    text-align: left;
    width: 100%;
    max-width: 230px;
    line-height: 1.4;
    white-space: nowrap;
    transition: .1s background-color,.1s border-color,.1s color,.1s fill;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
  color: white;
}

.about {
  font-size: 16px;
  padding-left: 10px;
  color: gray;
  visibility: hidden;
}
