.landing-continer {
  display: block;
}

.landing-div {
  padding: 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex!important;
}

.landing-header-div {
  font-size: 52px;
  font-weight: 800;
  line-height: 52px;
  margin-bottom: 25px;
}

.landing-words-div {
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 24px;
  font-style: normal;
}

.landing-buttons-div {
  height: 37px;
}

.landing-signup-button {
  min-height: 35px!important;
  line-height: 35px;
  color: rgba(255, 255, 255, .97);
  background: #292929;
  border-radius: 4px;
  margin-right: 8px;
  padding: 10px 17px;
  font-size: 14px;
  font-weight: 200;
}

.landing-learn-more {
  height: 35px;
}

.landing-right-div {
  min-height: 330px;
  min-width: 472.5px;
  background-image: url(https://cdn-images-1.medium.com/max/1000/1*NV54YLXyvmeUtCXSPHJq5g.png);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.story-index-list {
  padding: 15px;
  padding-right: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  min-height: 800px;
  overflow: scroll;
  display: flex;
  flex-flow: wrap;

// This column solution is thanks to  Roko C. Buljan at Stack Overflow
// @ this article https://stackoverflow.com/questions/12332528/how-to-display-list-items-as-columns

 // -webkit-column-width: 250px;
 //  -moz-column-width: 250px;
 //  -o-column-width: 250px;
 //  -ms-column-width: 250px;
 //  column-width: 250px;
 //  column-count: 2;
 //
 // -webkit-column-rule-style: hidden;
 //  -moz-column-rule-style: hidden;
 //  -o-column-rule-style: hidden;
 //  -ms-column-rule-style: hidden;
 //  column-rule-style: hidden;
}

.story-index-div {
  width: 47%;
  display: flex;
  height: 260px;
  margin-bottom: 20px;
  flex-flow: wrap;
  border: 1px solid rgba(0,0,0,.1)!important;
  border-radius: 2px;
  margin-right: 20px;
}

.story-left-div {
  width: 49%;
  border-right: 1px solid rgba(0,0,0,.1)!important;
}

.story-right-div {
  width: 50%;
}

.story-index-list li:first-child {
  margin: 0;
}

.story-index-item {
  background: gray;
  margin-top: 20px;
}

// background-image:url(https://cdn-images-1.medium.com/max/1000/1*NV54YLXyvmeUtCXSPHJq5g.png); background-position: bottom center;
