<!DOCTYPE html>
<html>
  <head>
    <title>ExtraLarge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto|Lato|Merriweather:300|Source+Serif+Pro" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>




<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> -->
